* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #daa520;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(101, 81, 81);
}

/* Handle rgba(170, 45, 45, 0.863) */
::-webkit-scrollbar-thumb {
  /*background: #007dfc;*/
  background: #daa520;
  border-radius: 5px;
}